In [1]:
import gdown
import pandas as pd

# 아래 두개의 값 입력 (로컬 컴퓨터 환경에서 실행은 url 비워둘 것)
filename = 'PtLibraryData.csv'  # 예제에서 사용할 filename 입력
url = ''    # 여기에 본인이 가진 링크의 난수 입력

if url != '' :
    gdown.download(f'https://drive.google.com/uc?id={url}', filename, quiet=False)
    dir = ''
else :
    dir = '../_csv/'  # 로컬 컴퓨터 환경에서 사용할 dir (예제는 _csv)

pt_book = pd.read_csv(f'{dir}{filename}',index_col=0, low_memory=False)
pt_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,NaN,0,NaN,199.1,1,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,NaN,1,NaN,373.7,1,0,2023-03-30
2,3,(현직 고등학교 선생님들이 직접 고른) 생기부 필독서 100,주경아 외 지음,센시오,2023,9.79117E+12,NaN,1,NaN,376.6,1,0,2023-03-30
3,4,당연하게도 나는 너를,이꽃님 지음,우리학교,2023,9.79117E+12,NaN,4,NaN,813.7,1,0,2023-03-30
4,5,고요한 우연,김수빈 지음,문학동네,2023,9.78895E+12,NaN,0,NaN,813.7,1,0,2023-03-30

In [2]:
pt_book.isna().sum()    # NaN으로 되어있는 항목들의 합을 구함

번호              0
도서명             0
저자             57
출판사          1890
발행년도           12
ISBN            0
세트 ISBN    210048
부가기호        59070
권          173282
주제분류번호        946
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [3]:
pt_book.loc[0,'도서권수'] = None
pt_book['도서권수'].isna().sum()

1

In [4]:
pt_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,NaN,0,NaN,199.1,NaN,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,NaN,1,NaN,373.7,1.0,0,2023-03-30

In [5]:
pt_book.loc[0,'도서권수'] = 1       # 도서권수 index 0번 1로 변경
pt_book = pt_book.astype({'도서권수':'int32', '대출건수': 'int32'})     # 파이썬 딕셔너리 int32로 변경
pt_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,NaN,0,NaN,199.1,1,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,NaN,1,NaN,373.7,1,0,2023-03-30

In [6]:
set_isbn_na_rows = pt_book['세트 ISBN'].isna()  # 누락된 값 불리언 배열로

pt_book.loc[set_isbn_na_rows, '세트 ISBN'] = ''     # 누락된 위치 공백으로
pt_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,,0,NaN,199.1,1,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,,1,NaN,373.7,1,0,2023-03-30
2,3,(현직 고등학교 선생님들이 직접 고른) 생기부 필독서 100,주경아 외 지음,센시오,2023,9.79117E+12,,1,NaN,376.6,1,0,2023-03-30
3,4,당연하게도 나는 너를,이꽃님 지음,우리학교,2023,9.79117E+12,,4,NaN,813.7,1,0,2023-03-30
4,5,고요한 우연,김수빈 지음,문학동네,2023,9.78895E+12,,0,NaN,813.7,1,0,2023-03-30

In [7]:
import numpy as np

# pt_book.fillna('없음')    # NaN -> 없음 으로 바꾸기
pt_tmp = pt_book.replace(np.nan, '없음')    # NaN -> 없음 으로 바꾸기

In [8]:
pt_tmp.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,,0,없음,199.1,1,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,,1,없음,373.7,1,0,2023-03-30
2,3,(현직 고등학교 선생님들이 직접 고른) 생기부 필독서 100,주경아 외 지음,센시오,2023,9.79117E+12,,1,없음,376.6,1,0,2023-03-30
3,4,당연하게도 나는 너를,이꽃님 지음,우리학교,2023,9.79117E+12,,4,없음,813.7,1,0,2023-03-30
4,5,고요한 우연,김수빈 지음,문학동네,2023,9.78895E+12,,0,없음,813.7,1,0,2023-03-30

In [15]:
pt_book.replace([np.nan, '2023'], ['없음', '23']).head(2)   # 리스트를 이용한 값 수정
pt_book.replace({np.nan :'없음', '2023': '23'}).head(2)   # 딕셔너리를 이용한 값 수정
pt_book.replace({'부가기호': np.nan}, '없음').head(2)   # 특정 항목의 값 수정

   번호         도서명              저자   출판사 발행년도         ISBN 세트 ISBN 부가기호   권
0   1    세이노의 가르침          세이노 지음   데이원   23  9.79117E+12            0  없음  \
1   2  서울대생의 비밀과외  소린TV,안소린 [공]지음  다산에듀   23  9.79113E+12            1  없음

  주제분류번호  도서권수  대출건수        등록일자
0  199.1     1     0  2023-03-30
1  373.7     1     0  2023-03-30

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,,0,NaN,199.1,1,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,,1,NaN,373.7,1,0,2023-03-30

In [10]:
pt_book['발행년도'].str.contains('1988').sum()  # 발행년도에 문자열 '1988'이 포함되어있는 갯수

149

In [11]:
# 숫자이외의 발행년도 확인
invalid_number = pt_book['발행년도'].str.contains('\D', na = True)
print(invalid_number.sum())
pt_book[invalid_number].head()

144

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
5367,5368,직지의 대모험:세계 최고의 금속활자본을 찾아서,청주고인쇄박물관 기획;콘텐츠하다 만화,NaN,"20,212,021",9.7912E+12,,6,NaN,902.9,1,4,2022-06-28
5369,5370,콩 할머니의 장 담그기,송선옥 글·그림,NaN,"20,212,022",9.78896E+12,,7,NaN,594.51,1,1,2022-06-28
6677,6678,한국인들의 이상한 행복,안톤 숄츠 지음,문학수첩,19 cm,9.78898E+12,,0,NaN,309.111,1,5,2022-06-16
6721,6722,(보기만 해도 쏙쏙 이해되는) IT 용어 도감 277,구사노 도시히코 지음;이지호 옮김,한즈미디어,23 cm,9.79116E+12,,1,NaN,4.03,1,4,2022-06-16
8140,8141,"밥 한술, 온기 한술",원경 지음,담앤북스,2022(2021),9.79116E+12,,0,NaN,818,1,0,2022-03-15

In [12]:
pt_book2 = pt_book.replace({'발행년도':'.*(\d{4}).*'}, r'\1', regex=True)       # 발행년도 숫자 4자리 앞 뒤에 있는 문자, 숫자를 제거하는 정규표현식 사용
pt_book2[invalid_number].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
5367,5368,직지의 대모험:세계 최고의 금속활자본을 찾아서,청주고인쇄박물관 기획;콘텐츠하다 만화,NaN,"20,212,021",9.7912E+12,,6,NaN,902.9,1,4,2022-06-28
5369,5370,콩 할머니의 장 담그기,송선옥 글·그림,NaN,"20,212,022",9.78896E+12,,7,NaN,594.51,1,1,2022-06-28
6677,6678,한국인들의 이상한 행복,안톤 숄츠 지음,문학수첩,19 cm,9.78898E+12,,0,NaN,309.111,1,5,2022-06-16
6721,6722,(보기만 해도 쏙쏙 이해되는) IT 용어 도감 277,구사노 도시히코 지음;이지호 옮김,한즈미디어,23 cm,9.79116E+12,,1,NaN,4.03,1,4,2022-06-16
8140,8141,"밥 한술, 온기 한술",원경 지음,담앤북스,2021,9.79116E+12,,0,NaN,818,1,0,2022-03-15

In [13]:
# 숫자 이외의 발행년도 확인
unknown_year = pt_book2['발행년도'].str.contains('\D', na = True)   # 위에서 값을 수정해도 발행년도를 확인 할 수 없는 시리즈들을 저장
print(unknown_year.sum())
pt_book2[unknown_year].head()

106

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
5367,5368,직지의 대모험:세계 최고의 금속활자본을 찾아서,청주고인쇄박물관 기획;콘텐츠하다 만화,NaN,"20,212,021",9.7912E+12,,6,NaN,902.9,1,4,2022-06-28
5369,5370,콩 할머니의 장 담그기,송선옥 글·그림,NaN,"20,212,022",9.78896E+12,,7,NaN,594.51,1,1,2022-06-28
6677,6678,한국인들의 이상한 행복,안톤 숄츠 지음,문학수첩,19 cm,9.78898E+12,,0,NaN,309.111,1,5,2022-06-16
6721,6722,(보기만 해도 쏙쏙 이해되는) IT 용어 도감 277,구사노 도시히코 지음;이지호 옮김,한즈미디어,23 cm,9.79116E+12,,1,NaN,4.03,1,4,2022-06-16
22647,22648,(월명스님의 희망꽃)사과 한 개의 행복,월명 지음,희망꽃,NaN,9.79119E+12,,0,NaN,814.7,1,0,2019-10-16

In [14]:
pt_book2.loc[unknown_year, '발행년도'] = '-1'       # 값을 확인할 수 없는 발행년도를 -1로 설정한다.
pt_book2 = pt_book2.astype({'발행년도': 'int32'})   # 모든 발행년도가 숫자형이기 때문에 형식을 정수형으로 바꿔줌

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
149879,149880,청춘가를 불러요=:,한창훈 지음,한겨레신문사,9000,9.78898E+12,,0,NaN,813.6,1,3,2005-12-08
222926,222927,개벽의 땅 한반도,안경전 [저],대원출판,4336,9.78897E+12,,NaN,NaN,291.12,1,0,1998-07-11

In [16]:

pt_book2[pt_book2['발행년도'].gt(4000)].head()  # 발행년도 > 4000 일 경우
pt_book2[pt_book2['발행년도'].lt(1900)].head()  # 발행년도 < 1900 일 경우

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
5367,5368,직지의 대모험:세계 최고의 금속활자본을 찾아서,청주고인쇄박물관 기획;콘텐츠하다 만화,NaN,-1,9.7912E+12,,6,NaN,902.9,1,4,2022-06-28
5369,5370,콩 할머니의 장 담그기,송선옥 글·그림,NaN,-1,9.78896E+12,,7,NaN,594.51,1,1,2022-06-28
6677,6678,한국인들의 이상한 행복,안톤 숄츠 지음,문학수첩,-1,9.78898E+12,,0,NaN,309.111,1,5,2022-06-16
6721,6722,(보기만 해도 쏙쏙 이해되는) IT 용어 도감 277,구사노 도시히코 지음;이지호 옮김,한즈미디어,-1,9.79116E+12,,1,NaN,4.03,1,4,2022-06-16
12474,12475,퍼스널 지오그래픽,조병준 지음,Suryusanbang(수류산방),21,9.78899E+12,,0,NaN,818,1,1,2021-05-25